#reactSimpleImageViewer img {
    background: aliceblue;
}

.labels {
    display: inline-block;
    vertical-align: top;
}

.image-block {
    display: inline-block;
}

.image-block > img {
    vertical-align: top;
}